clean_rooms:
  # Service name as shown in UI
  name: Clean rooms
  # Description of the service
  description: Sets fan speed.
  # If the service accepts entity IDs, target allows the user to specify entities by entity, device, or area. If `target` is specified, `entity_id` should not be defined in the `fields` map. By default it shows only targets matching entities from the same domain as the service, but if further customization is required, target supports the entity, device, and area selectors (https://www.home-assistant.io/docs/blueprint/selectors/). Entity selector parameters will automatically be applied to device and area, and device selector parameters will automatically be applied to area. 
  target:
  # Different fields that your service accepts
  fields:
    rooms:
      name: Rooms
      required: true
      description: A list of rooms to clean
      example: [{room_id: 1, clean_num: 1}, {room_id: 2, clean_num: 1}, {room_id: 3, clean_num: 2}]
      selector:
        object: